<!-- Send Audio Player -->
<audio #sentSound src="/assets/message-sent.wav"></audio>

<!-- Hidden Textarea -->
<textarea
    autofocus
    autoResize
    #newMessageInput
    type="text"
    autocomplete="off"
    class="input"
    [(ngModel)]="messages[0].text"
    (keydown.enter)="sendMessage()"
    (keydown.shift.enter)="sendMessage()"
    (blur)="focusBackToInput()"
></textarea>

<!-- Messages -->
<div @list *ngIf="sortedMessages().length" class="list">
    <span @items *ngFor="let message of sortedMessages()" [class.message]="message.text">
        {{ message.text }}
    </span>
</div>
