html {
    height: 100%;
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
        Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    background-color: green;
    color: black;
    font-size: 200%;
    caret-color: #278EFF;
}

body {
    height: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}